<launch>

      <arg name="publish_clock" default="--clock"/>
      <arg name="autorun" default="0"/>
      <arg name="loop_en" default="0"/>

      <arg name="exp_log_dir" default="/home/$(env USER)/slict_logs/ntuviral"/>

      <!-- Load the param -->
      <rosparam file="$(find slict)/config/sim_midavia.yaml" command="load"/>
      <!-- Set some exp related params -->
      <param name="/autoexit" type="int"    value="$(arg autorun)" />
      <param name="/loop_en"  type="int"    value="$(arg loop_en)" />
      <param name="/log_dir"  type="string" value="$(arg exp_log_dir)" />

      <!-- Run the sensor sync -->
      <node pkg="slict" type="slict_sensorsync" name="slict_sensorsync" respawn="false" output="log" required="true"/>

      <node pkg="slict" type="slict_livox_to_ouster" name="slict_livox_to_ouster" respawn="false" output="log" required="true"/>
      <node pkg="slict" type="slict_livox_to_ouster3" name="slict_livox_to_ouster3" respawn="false" output="log" required="true"/>

      <!-- Run the Estimator -->
      <node pkg="slict" required="true" type="slict_estimator" name="slict_estimator" respawn="false" output="screen"/>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log"
            args="-d $(find slict)/launch/ntuviral.rviz" />

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="false" />


</launch>