<?xml version="1.0"?>
<robot name="husky_sensors" xmlns:xacro="http://ros.org/wiki/xacro">
<!-- <xacro:property name="sensor_props" value="${load_yaml('$(find sensor_description)/config/$(arg robot_namespace)_sensors.yaml')}" /> -->

  <!-- Base Link -->
  <link name="base_link"/>

  <!-- Arch -->
  <link name="arch"/>
  <joint name="top_plate_link_to_arch" type="fixed">
    <parent link="base_link" />
    <child link="arch" />
    <origin xyz="0.0 0 0.0" rpy="0 0 0" />
  </joint>

  <link name="os_sensor"/>
  <joint name="arch_to_sensor1" type="fixed">
    <parent link="arch" />
    <child link="os_sensor" />
    <origin xyz="0.0102543784 -0.0066573859 0.130729657" rpy="-3.1412457 0.0065189 0.0024579"/>
  </joint>

  <link name="livox_frame"/>
  <joint name="arch_to_sensor2" type="fixed">
    <parent link="arch" />
    <child link="livox_frame" />
    <origin xyz="-0.003050707070885951 0.021993853931529066 0.15076415229379997" rpy="-3.1244532 0.0067876 0.0171429"/>
  </joint>

  <link name="imu_sensor_frame"/>
  <joint name="arch_to_imu" type="fixed">
    <parent link="arch" />
    <child link="imu_sensor_frame" />
    <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
  </joint>

</robot>
