<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find ma_lio)/config/hilti2021.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="plane_th" type="double" value="0.4" />
    <param name="range_min" type="double" value="0" />
    <param name="range_max" type="double" value="1" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="ma_lio" type="malio_mapping_hilti2021" name="laserMapping" output="screen" /> 
    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find ma_lio)/rviz_cfg/ma_lio.rviz" />
    </group>

   
</launch>
